.article {
  padding-inline: 5px;
}

h2 {
  font-style: italic;
  margin-block: 0;
}

.published-date {
  font-style: italic;
  font-size: 0.8rem;
  padding-left: 10px;
}

.article-content {
  margin-block: 1rem;
}
