.article {
  padding-inline: 5px;
}

.article-header {

  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 10px;

  @media (min-width: 720px) {
    grid-template-columns: 7fr auto;
  }
}

.article-data {
  display: inherit;
}

h2 {
  grid-column: 1;
  font-style: italic;
  margin-block: 0;
  word-wrap: anywhere;
}

.published-date {
  grid-column: 1;
  font-style: italic;
  font-size: 0.8rem;
  padding-left: 10px;
}
