@let loading = article.isLoading();
@let error = article.error();
@let articleData = article.value();

@if (articleData) {
  <div class="article">
    <div class="article-header">
      <div class="article-data">
        <h2>
          {{ articleData.title }}
        </h2>
        <div class="published-date">
          {{ articleData.publishedDate | date: 'EEEE, dd/MMM/yyyy' }}
        </div>
      </div>
    </div>
    <div class="article-content content" [innerHTML]="sanitizedArticleContent()"></div>
  </div>
} @else if (loading) {
  Loading article...
} @else if (error) {
  Uh, ran into some errors, sorry about that!
} @else {
  Dimitar sucks at Angular because something is clearly not working right :(
}
<app-article-navigation [id]="id()" />
