.archive-container {
    display: grid;
    padding-inline: 10px;
}

.archive-container a {
    font-style: italic;
    font-weight: bold;
    font-size: 1.3rem;
    margin-block: 0;
    color: #292626;
    text-decoration: none;
}

.archive-container button {
    border: none;
    background: none;
    justify-self: center;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: bold;
}

.archive-container button:hover {
    cursor: pointer;
}

h1 {
    margin-bottom: 0;
    text-align: right;
}

.item {
    display: flex;
    margin-block: 10px;
    padding-inline: 10px;
    align-items: first baseline;
}

.item .breaker {
    flex-grow: 1;
    height: 0.9rem;
    border-bottom: 1px dotted black;
    margin-inline: 2px;
}

.item .item-date {
    flex-shrink: 0;
}