.footer {
    display: block;
    border-top: 1px solid black;
    text-align: right;
    padding-inline: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-inline: 5px;

    @media (min-width: 720px) {
        margin-top: 30px;
    }

    & a {
        text-decoration: none;
        color: inherit;
    }

    &a:visited {
        color: inherit;
    }
}

.separator {
  margin-inline: 5px;
}
