.now-body {
    padding-inline: 5px;
    margin-inline: 5px;
}

.description {
    font-style: italic;
    text-align: right;
}

h2 {
    margin-bottom: 0px;
}

.last-updated {
    font-style: italic;
}