@let previous = previousArticle.value();
@let next = nextArticle.value();

<div class="article-navigation">
  @if (previous){
    <div class="previous-article" [routerLink]="['/posts', previous.id]">
      <h3>{{ previous.title }}</h3>
      <div class="article-date">{{ previous.publishedDate | date: 'dd/MMM/yyyy' }}</div>
    </div>
  }
  @if (next){
    <div class="next-article" [routerLink]="['/posts', next.id]">
      <h3>{{ next.title }}</h3>
      <div class="article-date">{{ next.publishedDate | date: 'dd/MMM/yyyy' }}</div>
    </div>
  }
</div>
