<div class="photo">
  <app-mini-pic />
</div>
<div class="text-area">
  <div class="description">
    <p>
      Technology Generalist
    </p>
    <p>
      15+ years of tinkering with computers professionally
    </p>
  </div>
  <div class="social-links">
    <p>
      Find me here:
    </p>
    <div class="links-holder">
      <a href="https://github.com/dimitarOnGithub" target="_blank"><img src="assets/icons/github.png" alt="Github Link"></a>
      <a href="https://www.linkedin.com/in/dimitarxivanov/" target="_blank"><img src="assets/icons/linkedin.png" alt="LinkedIn Link"></a>
    </div>
  </div>
</div>
